
h1{
    text-align:left;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: bold;
    font-style: oblique;
    margin: 100px;
    border: 2px;
}
.div{
    border: 5px outset rgb(14, 12, 12);
    background-color: rgb(247, 248, 248);    
    text-align: center;
  } 
